.Navbar {
  text-transform: uppercase;
  font-weight: 300;
}
.Navbar li:hover {
  background-color: #b7b5cc41;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.log-in:hover {
  background-color: #b7b5cc41;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .logo {
    font-size: 60px;
  }
  .Navbar {
    padding-top: 5%;
  }
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .Navbar a,
  li {
    padding: 10px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .logo {
    font-size: 40px;
  }

  .Navbar a,
  li {
    padding: 10px;
  }
}
@media (min-width: 1281px) {
  .logo {
    font-size: 40px;
  }
  .Navbar {
    padding-top: 2%;
  }
  .Navbar a,
  li {
    padding: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .logo {
    font-size: 60px;
  }
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .Navbar a,
  li {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    font-size: 60px;
  }

  .Navbar a,
  li {
    padding: 8px;
  }
}
